html {
    font-size: 10px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    margin: 0 auto;
    height: 100%;
}

header {
    width: 100%;
    padding: 1rem 2rem;
    box-sizing: border-box;
}

nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
}

nav ul li {
    padding: 2rem;
    box-sizing: border-box;
}

nav ul li a {
    font-size: 1.4rem;
    font-weight: 400;
    color: black;
    text-decoration: none;
}

a[href="advanced-search.html"] img {
    width: 100%;
    max-width: 2rem;
    height: 2rem;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
    box-sizing: border-box;
    width: 100%;
    height: 50rem;
    margin: 0 auto;
}

.google_logo {
    max-width: 27rem;
}

.google_logo img {
    width: 100%;
}

.search-bar {
    width: 100%;
}

#searchForm {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 55rem;
    width: 100%;
    margin: 0 auto;
}

.searchImgBlock,
.inputbox {
    width: 100%;
}

input {
    outline: none;
}

.inputbox {
    position: relative;
    display: inline-block;
}

.searchIcon,
.voiceIcon,
.imgIcon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
}

.searchIcon {
    left: 2.5rem;
}

.voiceIcon {
    right: 5rem;
}

.imgIcon {
    right: 2rem;
    cursor: pointer;
}

.searchImgBlock input,
.inputbox input {
    font-size: 1.4rem;
    padding: 1.5rem 7rem 1.5rem 6rem;
    width: 100%;
    box-sizing: border-box;
    border-radius: 3rem;
    border: none;
    box-shadow: 0px 0px 5px #9d9d9da8;
    margin: 4rem 0rem;
}

#button,
#button2 {
    transition: 500ms all;
    background-color: #bababa9c;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    max-width: 20rem;
    padding: 1rem 2rem;
    box-sizing: border-box;
    border-radius: 2rem;
    border: none;
}

.hover:hover {
    transform: scale(1.2);
}

.searchImgBlock {
    display: none;
    position: relative;
    text-align: center;
    padding: 2rem;
    box-shadow: 0px 0px 5px #9d9d9da8;
    border-radius: 1rem;
    margin: 4rem 0rem;
    box-sizing: border-box;
}

.searchImgBlock h2 {
    font-weight: 400;
}

#imageUploadInput {
    border: 1px dashed #0000004f;
    background-color: #98c2ff1a;
    padding: 4rem 5rem;
}

.closeImg {
    position: absolute;
    right: 2rem;
    width: 2;
    height: 2rem;
    cursor: pointer;
}

.closeImg img {
    width: 100%;
}